@import './font.css';
@import './color.css';

.Block {
  composes: pageContainer from './container.module.css';
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  line-height: 1.25;
}

.Block.isToc {
  font-size: 1.5em;
}

.Block.isMini {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-ui-hr);
}

.sectionTitle {
  composes: sectionTitle from './typography.module.css';
}

.sectionAuthor {
  composes: sectionAuthor from './typography.module.css';
}

.sectionTitle + .sectionAuthor {
  margin-top: 0.75em;
}

.content {
  composes: content from './typography.module.css';
}

.sectionAuthor + .content {
  margin-top: 1.25em;
}

.sectionTitle + .content {
  margin-top: 1.25em;
}
