@import "./layout.css";

/*
* Responsive breakpoints.
*/

:root {
  --breakpoint-mobile: 0;
  --breakpoint-tablet: calc(var(--layout-container-width-tablet) + 2 * var(--layout-min-container-margin-tablet));
  --breakpoint-desktop: calc(var(--layout-container-width-desktop) + 2 * var(--layout-min-container-margin-desktop));
}

/*
* Hard-coded because media queries don't allow custom properties.
*/

@custom-media --breakpoint-mobile (min-width: 0);
@custom-media --breakpoint-tablet (min-width: 684px);
@custom-media --breakpoint-desktop (min-width: 1068px);
