:root {
  --container-margin: 0;
  --container-margin-tablet: calc((100% - env(--container-width-tablet)) / 2);
  --container-margin-desktop: calc((100% - env(--container-width-desktop)) / 2);
}

.container {
  padding-left: 0;
  padding-right: 0;

  @media (--tablet) {
    padding-left: var(--container-margin-tablet);
    padding-right: var(--container-margin-tablet);
  }

  @media (--desktop) {
    padding-left: var(--container-margin-desktop);
    padding-right: var(--container-margin-desktop);
  }
}

.containerMargin {
  margin-left: 0;
  margin-right: 0;

  @media (--tablet) {
    margin-left: var(--container-margin-tablet);
    margin-right: var(--container-margin-tablet);
  }

  @media (--desktop) {
    margin-left: var(--container-margin-desktop);
    margin-right: var(--container-margin-desktop);
  }
}

.pageContainer {
  padding-left: env(--page-padding);
  padding-right: env(--page-padding);

  @media (--tablet) {
    padding-left: env(--page-padding-tablet);
    padding-right: env(--page-padding-tablet);
  }

  @media (--desktop) {
    padding-left: env(--page-padding-desktop);
    padding-right: env(--page-padding-desktop);
  }
}

.containerMobilePage {
  padding-left: env(--page-padding);
  padding-right: env(--page-padding);

  @media (--tablet) {
    padding-left: var(--container-margin-tablet);
    padding-right: var(--container-margin-tablet);
  }

  @media (--desktop) {
    padding-left: var(--container-margin-desktop);
    padding-right: var(--container-margin-desktop);
  }
}
