@import './layout.css';
@import './breakpoint.css';

.container {
  padding-left: 0;
  padding-right: 0;

  @media (--breakpoint-tablet) {
    padding-left: var(--layout-container-margin-tablet);
    padding-right: var(--layout-container-margin-tablet);
  }

  @media (--breakpoint-desktop) {
    padding-left: var(--layout-container-margin-desktop);
    padding-right: var(--layout-container-margin-desktop);
  }
}

.container-margin {
  margin-left: 0;
  margin-right: 0;

  @media (--breakpoint-tablet) {
    margin-left: var(--layout-container-margin-tablet);
    margin-right: var(--layout-container-margin-tablet);
  }

  @media (--breakpoint-desktop) {
    margin-left: var(--layout-container-margin-desktop);
    margin-right: var(--layout-container-margin-desktop);
  }
}

.page-container {
  padding-left: var(--layout-page-padding);
  padding-right: var(--layout-page-padding);

  @media (--breakpoint-tablet) {
    padding-left: var(--layout-page-padding-tablet);
    padding-right: var(--layout-page-padding-tablet);
  }

  @media (--breakpoint-desktop) {
    padding-left: var(--layout-page-padding-desktop);
    padding-right: var(--layout-page-padding-desktop);
  }
}

.container-mobile-page {
  padding-left: var(--layout-page-padding);
  padding-right: var(--layout-page-padding);

  @media (--breakpoint-tablet) {
    padding-left: var(--layout-container-margin-tablet);
    padding-right: var(--layout-container-margin-tablet);
  }

  @media (--breakpoint-desktop) {
    padding-left: var(--layout-container-margin-desktop);
    padding-right: var(--layout-container-margin-desktop);
  }
}
