@import './transition.css';
@import './breakpoint.css';

.Explorer {
  composes: container-mobile-page from './container.module.css';
  height: 0%;
  background-color: #fdf;
  transition: height var(--transition-duration-slide);
  overflow: hidden;
}

.explorerOpen {
  height: calc(50% - 5.5em);

  @media (--breakpoint-desktop) {
    height: 50%;
  }
}

.inner {
  height: 50%;
}
