.Figure {
  margin: 3.5em 1em;

  & figcaption {
    font-size: 0.9em;
  }

  & br {
    display: none;
  }
}

.FigureContent {
  background-color: transparent;
  margin: 1.75em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.FigureContent.invalid {
  background-color: red;
}
