.Figure {
  margin: 2em 1em;

  & figcaption {
    font-size: 0.9em;
  }

  & br {
    display: none;
  }
}

.FigureContent {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

.FigureContent.invalid {
  background-color: red;
}
