.Figure {
  margin: 0;

  & figcaption {
    font-size: 0.9em;
    padding: 0 1rem;
    margin: 2rem 0;
  }

  & br {
    display: none;
  }
}

.FigureContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
  margin: 2rem 0;
  background-color: #fff;
}

.FigureContent.invalid {
  background-color: red;
}
