.FootnoteLink {
  composes: BookLink from './links.module.css';
  font-weight: 700;
}

.Footnote {
  display: flex;
  margin: 0.5em 0;

  & p {
    padding: 0;
  }
}

.returnLink {
  composes: BookLink from './links.module.css';
  margin-right: 1.5em;
}
