.FootnoteLink {
  composes: BookLink from './links.module.css';
  font-weight: 700;
}

.Footnote {
  display: flex;

  & p:first-child,
  & p:last-child {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.returnLink {
  composes: BookLink from './links.module.css';
  margin-right: 1.5em;
}
