@import './font.css';
@import 'normalize.css';

/*
* Global CSS style.
*/

html {
  font-size: 12px; /* 1 rem */
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  color: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
  opacity: 1;
  transition: opacity 150ms;

  &:hover {
    opacity: 0.85;
  }
}

strong {
  font-weight: bold;
}

button {
  all: initial;
  font: inherit;
  color: inherit;
  line-height: inherit;
}

*,
*::before,
*::after,
button {
  box-sizing: border-box;
}
