@import '../fonts/index.css';
@import './font.css';
@import '~normalize.css';

/*
* Global CSS style.
*/

html {
  font-size: 12px; /* 1 rem */
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
  color: #333;
}

a {
  color: inherit;
  text-decoration: inherit;
  opacity: 1;
  transition: opacity 150ms;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
}

strong {
  font-weight: bold;
}

p {
  overflow-wrap: break-word;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

*,
*::before,
*::after,
button {
  box-sizing: border-box;
}
