@import './transition.css';
@import './z-index.css';

.LoadingMessage {
  z-index: var(--z-index-loading);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.text {
  opacity: 0;
  transition: opacity var(--transition-duration-fade);
  font-size: 3em;
  font-weight: 300;
  color: #aaa;
}

.textVisible {
  opacity: 1;
}
