@import './transition.css';
@import './font.css';

.MarginLinks {
  position: relative;
  background-color: #fff;
  transition: background-color var(--transition-duration-fade);
}

.MarginLinks.paragraph,
.MarginLinks.footnote {
  margin-left: calc(env(--page-padding) * -1);
  margin-right: calc(env(--page-padding) * -1);
  padding-left: env(--page-padding);
  padding-right: env(--page-padding);

  @media (--tablet) {
    margin-left: calc(env(--page-padding-tablet) * -1);
    margin-right: calc(env(--page-padding-tablet) * -1);
    padding-left: env(--page-padding-tablet);
    padding-right: env(--page-padding-tablet);
  }

  @media (--desktop) {
    margin-left: calc(env(--page-padding-desktop) * -1);
    margin-right: calc(env(--page-padding-desktop) * -1);
    padding-left: env(--page-padding-desktop);
    padding-right: env(--page-padding-desktop);
  }
}

.MarginLinks.figure {
  margin-left: calc(-1em - env(--page-padding));
  margin-right: calc(-1em - env(--page-padding));
  padding-left: calc(1em + env(--page-padding));
  padding-right: calc(1em + env(--page-padding));

  @media (--tablet) {
    margin-left: calc(-1em - env(--page-padding-tablet));
    margin-right: calc(-1em - env(--page-padding-tablet));
    padding-left: calc(1em + env(--page-padding-tablet));
    padding-right: calc(1em + env(--page-padding-tablet));
  }

  @media (--desktop) {
    margin-left: calc(-1em - env(--page-padding-desktop));
    margin-right: calc(-1em - env(--page-padding-desktop));
    padding-left: calc(1em + env(--page-padding-tablet));
    padding-right: calc(1em + env(--page-padding-tablet));
  }
}

.MarginLinks:hover {
  background-color: var(--color-margin-links-background);
}

.links {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: env(--page-padding);
  z-index: 1;
  background-color: var(--color-margin-links-background);
  transition: opacity var(--transition-duration-fade);
  border-bottom-left-radius: 4px;
  display: none;
  padding: 1em;

  @nest .MarginLinks:hover & {
    opacity: 1;
  }

  @nest .MarginLinks.footnote & {
    padding-top: 0.5em;
  }

  @nest .MarginLinks.section:not(.hoverTitle) & {
    padding-top: 3em;
  }

  @media (--tablet) {
    display: block;
    width: env(--page-padding-tablet);
  }

  @media (--desktop) {
    width: env(--page-padding-desktop);
  }
}

.marginLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &::after {
    content: '';
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    background-color: #ccc;
    background-size: 0.55em;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color var(--transition-duration-fade);
  }

  &:hover::after {
    background-color: #aaa;
  }
}

.linkText {
  color: #ccc;
  font-family: var(--font-monospace);
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.05em;
  transition: color var(--transition-duration-fade);
  line-height: 1;

  @nest .marginLink:hover & {
    color: #aaa;
  }
}

.CiteLink::after {
  background-image: url(../images/cite-white.png);
}

.LinkLink {
  position: relative;

  &::after {
    background-image: url(../images/link-white.png);
  }
}

.linkLinkTooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration-fade), visibility 0s var(--transition-duration-fade);
  width: 12em;
  right: calc(100% + 2em);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-book-link);
  padding: 0.5em 1em;
  line-height: 1.25;
  color: white;
  border-radius: 2px;
  font-family: var(--font-sans);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-weight: 300;

  & strong {
    font-weight: 500;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    border-top-right-radius: 3px;
    background-color: inherit;
    top: 50%;
    right: 0;
    width: 1.25em;
    height: 1.25em;
    z-index: -1;
    transform: translateY(-50%) translateX(50%) rotate(45deg);
  }

  @nest .LinkLink:hover & {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-duration-fade), visibility 0s;
  }
}

.linkLinkUrl {
  font-size: 1.1em;
  line-height: 1.35em;
  margin-bottom: 0.5em;
}

.linkLinkClickToCopy {
  font-weight: bold;
  font-size: 0.9em;
}

.DwldLink::after {
  background-image: url(../images/dwld-white.png);
}

.ParaLink::after {
  display: none;
}
