@import './color.css';
@import './z-index.css';

.MobileMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 6em);
  height: 100%;
  background-color: var(--color-mobile-menu-background);
  color: white;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  z-index: var(--z-index-mobile-menu);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5) inset;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}

.titleAuthor {
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1.5em;
  flex-shrink: 0;
}

.bookTitle {
  composes: bookTitle from './typography.module.css';
  color: white;
  font-size: 1.65em;
  margin-bottom: 0.25em;
}

.bookAuthor {
  composes: bookAuthor from './typography.module.css';
  font-size: 1.1em;
}

.tableOfContents {
  overflow-y: scroll;
  padding-bottom: 1.5em;
}
