@import './shadow.css';

.MobileHeader {
  composes: pageContainer from './container.module.css';
  height: 6rem;
  background-size: cover;
  background-position: center;
  box-shadow: var(--shadow-bottom-panel);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.titlePanel {
  composes: panel from './ui.module.css';
  height: 3rem;
  padding: 0 1em;
  display: flex;
  align-items: center;
}

.bookTitle {
  composes: bookTitle from './typography.module.css';
  position: relative;
  top: 0.1em;
}

.menuTrigger {
  composes: panel from './ui.module.css';
  width: 3rem;
  height: 3rem;
  background-image: url(../images/mobile-hamburger.png);
  background-repeat: no-repeat;
  background-size: auto 1.2rem;
  background-position: center;
  cursor: pointer;
}

.menuOpen {
  background-image: url(../images/mobile-close.png);
}
