@import './z-index.css';
@import './font.css';
@import './transition.css';

.Modal {
  composes: fading-overlay from './fading-overlay.module.css';
  composes: container-page from './container.module.css';
  z-index: var(--z-index-modal);
  display: flex;
  flex-direction: column;
}

.visible {
  composes: visible from './fading-overlay.module.css';
}

.background {
  composes: containerMobilePage from './container.module.css';
  background-color: rgba(0, 0, 0, 0.65);
  min-height: 6rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;

  @media (--tablet) {
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.closeButton {
  composes: panel from './ui.module.css';
  width: 3rem;
  height: 3rem;
  background-image: url(../images/modal-close.svg);
  background-repeat: no-repeat;
  background-size: auto 1.2rem;
  background-position: center;
  transition: opacity var(--transition-duration-fade);

  &:hover {
    opacity: 0.9;
  }

  @media (--tablet) {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    background-size: cover;
    background-image: url(../images/modal-close-tablet.svg);
    width: 5rem;
    height: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: -5.5rem;
  }
}

.foreground {
  composes: containerMobilePage from './container.module.css';
  background-color: #222;
  box-shadow: -1px 2px 15px 0 rgba(0, 0, 0, 0.5);
  flex-grow: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  min-height: 0;
  overflow-y: scroll;

  @media (--tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.authorName {
  font-family: var(--font-display);
  font-size: 1.85em;
  font-weight: bold;

  @media (--tablet) {
    font-size: 2em;
  }
}

.authorBiography {
  composes: content from './typography.module.css';

  & p:last-child {
    padding-bottom: 0;
  }

  @media (--tablet) {
    font-size: 1.25em;
  }
}
