@import './transition.css';

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition-duration-fade),
    visibility 0s var(--transition-duration-fade);
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-duration-fade), visibility 0s;
}
