@import './transition.css';
@import './layout.css';

.PageTransitioner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  &[data-current-position="left"] {
    left: 0;
  }

  &[data-current-position="center"] {
    left: -100%;
  }

  &[data-current-position="right"] {
    left: -200%;
  }
}

.canvas.transitionCssEnabled {
  transition: left var(--transition-duration-page-transition);
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.95);
  opacity: 0;

  &[data-position="left"] {
    left: 0;
  }

  &[data-position="center"] {
    left: 100%;
  }

  &[data-position="right"] {
    left: 200%;
  }
}

.transitionCssEnabled .content {
  transition: transform var(--transition-duration-fade), opacity var(--transition-duration-fade);
}

.content.active {
  transform: scale(1);
  opacity: 1;
}
