@import './color.css';
@import './shadow.css';

.SectionContent {
  composes: containerMargin from './container.module.css';
  position: relative;
  height: 100%;
  overflow: visible;

  @media (--desktop) {
    width: 100%;
    margin: 0;
  }
}

.instructions {
  composes: uiContent from './typography.module.css';
  line-height: 1.5;
}

.paper {
  height: 100%;
  overflow: scroll;

  & > :not(:last-child) {
    border-bottom: 1px solid var(--color-ui-hr);
  }

  @media (--tablet) {
    background-color: white;
    border-radius: 2px;
    box-shadow: var(--shadow-bottom-panel);
  }
}
