@import './color.css';
@import './breakpoint.css';
@import './shadow.css';

.SectionContent {
  composes: container-margin from './container.module.css';
  position: relative;
  height: 100%;
  overflow: visible;

  @media (--breakpoint-desktop) {
    width: 100%;
    margin: 0;
  }
}

.instructions {
  line-height: 1.5;
}

.paper {
  height: 100%;
  overflow: scroll;

  @media (--breakpoint-tablet) {
    background-color: white;
    border-radius: 2px;
    box-shadow: var(--shadow-bottom-panel);
  }
}
