@import './font.css';
@import './transition.css';
@import './color.css';

.TableOfContents {
  font-family: var(--font-serif);
  font-weight: 400;
  line-height: 1.4;
}

.item {
  margin: 1.5em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.title.current {
  font-weight: bold;
}

.title.explorerLink {
  color: var(--color-explorer-link);
  font-weight: bold;
}

.white.title.explorerLink {
  color: white;
}

.author {
  composes: bookAuthor from './typography.module.css';
  font-size: 0.9em;
  margin-top: 0.15em;
}

.authorLink {
  composes: authorLink from './typography.module.css';
}

.authorLink.white {
  color: white;
  font-weight: 600;
}

.children {
  border-left: 1px solid var(--color-ui-hr);
  padding-left: 1em;
  margin: 0.75em 0;

  & .item {
    font-size: 0.875em;
    margin: 1em 0;

    &:first-child {
      margin-top: 0.25em;
    }

    &:last-child {
      margin-bottom: 0.25em;
    }
  }
}

.white.children {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.minimized.children {
  max-height: 0;
  margin: 0;
  overflow-y: scroll;
  transition:
    margin var(--transition-duration-slide),
    max-height var(--transition-duration-slide);
}

.minimized.children.expanded {
  max-height: 15em;
  margin: 0.75em 0;
}
