@import './font.css';
@import './color.css';

/*
* Reusable typographic style.
*/

.bookTitle {
  font-size: 1.5em;
  font-family: var(--font-display);
  font-weight: bold;
  letter-spacing: -0.01em;
  color: var(--color-reader-view-title);
}

.sectionTitle {
  font-size: 2em;
  font-family: var(--font-display);
}

.author {
  font-family: var(--font-serif);
  font-style: italic;
}

.bookAuthor {
  composes: author;
  color: var(--color-author-link);
}

.sectionAuthor {
  composes: author;
  font-size: 1.5em;
}

.authorLink {
  color: var(--color-author-link);

  @nest .content & {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  font-size: 1em;
  font-family: var(--font-serif);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.01em;

  & p {
    &:not(:first-child) {
      margin-top: 1.75em;
    }

    &:not(:last-child) {
      margin-bottom: 1.75em;
    }
  }

  & h1 {
    font-size: 1.75em;
    font-weight: 600;
  }

  & h2 {
    font-size: 1.5em;
    font-weight: 600;
  }

  & h3 {
    font-size: 1.25em;
    font-weight: 600;
  }

  & h4 {
    font-size: 1.15em;
    font-weight: 600;
  }

  & h5 {
    font-size: 1em;
    font-weight: 600;
  }

  & h6 {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
  }

  & hr {
    border: 0;
    border-top: 1px solid #777;
    margin: 1.5em 0;
  }

  & a {
    text-decoration: underline;
  }

  & code {
    font-family: var(--font-monospace);
    padding: 0.1em 0.25em;
    background-color: #f4f4f4;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid #f0f0f0;
    margin: 0.25em 0;
  }
}

.uiContent {
  composes: content;
  font-size: 1.25em;
  font-family: var(--font-sans);
  line-height: 1.35;
  letter-spacing: 0;

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.uiTitle {
  font-family: var(--font-sans);
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
