@import './font.css';
@import './color.css';

/*
* Reusable typographic style.
*/

.bookTitle {
  font-size: 1.5em;
  font-family: var(--font-display);
  font-weight: bold;
  letter-spacing: -0.01em;
  color: var(--color-reader-view-title);
}

.sectionTitle {
  font-size: 2em;
  font-family: var(--font-display);
}

.author {
  font-family: var(--font-serif);
  font-style: italic;
}

.bookAuthor {
  composes: author;
  color: var(--color-author-link);
}

.sectionAuthor {
  composes: author;
  font-size: 1.5em;
}

.authorLink {
  color: var(--color-author-link);

  @nest .content & {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  font-size: 1em;
  font-family: var(--font-serif);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.01em;

  & > * {
    padding-top: 1px;
    padding-bottom: 1px;

    &:first-child {
      margin-top: -1em;
    }

    &:last-child {
      margin-bottom: -1em;
    }
  }

  & h1 {
    font-size: 1.75em;
    font-weight: 600;
  }

  & h2 {
    font-size: 1.5em;
    font-weight: 600;
  }

  & h3 {
    font-size: 1.25em;
    font-weight: 600;
  }

  & h4 {
    font-size: 1.15em;
    font-weight: 600;
  }

  & h5 {
    font-size: 1em;
    font-weight: 600;
  }

  & h6 {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
  }

  & hr {
    border: 0;
    border-top: 1px solid #777;
    margin: 1.5em 0;
  }

  & a {
    text-decoration: underline;
  }

  & code {
    font-family: var(--font-monospace);
    padding: 0.1em 0.25em;
    background-color: #f4f4f4;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid #f0f0f0;
    margin: 0.25em 0;
  }

  & img {
    display: block;
    max-width: 100%;
  }

  & table {
    display: block;
    font-family: var(--font-sans);
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1.1em;
    max-width: 100%;
    overflow-x: scroll;

    & th,
    & td {
      padding: 0.75em 0.75em;
      border: 1px solid #ddd;
      text-align: left;
    }

    & th {
      background-color: var(--color-table-header-background);
      border-bottom: 1px solid #888;
      min-width: 7.5em;
    }

    & tr:nth-child(2n + 1) td {
      background-color: var(--color-table-alt-row-background);
    }
  }
}

.uiContent {
  composes: content;
  font-size: 1.25em;
  font-family: var(--font-sans);
  line-height: 1.35;
  letter-spacing: 0;

  & a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.uiTitle {
  font-family: var(--font-sans);
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
